<section class="mb-4">
  <div class="row g-0">
  </div>
</section>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-light text-body-emphasis">Tapyoka Coin</h1>
  <p class="lead text-body-secondaryy">家庭内で取引されるブロックチェーン上のステーブルコイン。1タピオカは日本円の100円に交換可能。</p>
</div>


<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
  <% @users.each do |user| %>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><%= user.name %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><%= user.amount %><small class="text-body-secondary fw-light">TPOK</small></h1>
          <ul class="list-unstyled fw-light mt-3 mb-4">
            <li>日本円価格 <%= user.amount * 100 %> JPY</li>
            <li>今までもらったコイン <%= Transaction.where(to_user: user).sum(:amount)  %></li>
            <li>今まで現金化したコイン <%= user.transactions.where(transaction_type: :burn).sum(:amount)  %></li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">取引</button>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="display-6 text-right mb-4">最近の取引</h2>

<div class="table-responsive">
  <table class="table text-right table-hover text-nowrap table-striped table-sm">
    <thead>
      <tr>
        <th>日時</th>
        <th>tx</th>
        <th>種類</th>
        <th>対象</th>
        <th>タピオカ</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
        <tr>
          <th scope="row" class="text-start"><%= link_to (l t.created_at, format: :default), transaction_path(t[:id]), class: "link-primary" %></th>
          <td><%= link_to t.txid, "https://testnet-explorer.tapyrus.dev.chaintope.com/tx/#{t.txid}", class: "link-secondary" %></td>
          <td><%= t.transaction_type_i18n %></td>
          <td><%= t.user&.name %> ⇒ <%= t.to_user&.name %></td>
          <td><%= t.amount %></td>
          <td><%= t.memo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
