<div id="<%= dom_id transfer %>">
  <p>
    <strong>Txid:</strong>
    <%= transfer.txid %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= transfer.token_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transfer.amount %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= transfer.address %>
  </p>

  <p>
    <strong>From user:</strong>
    <%= transfer.from_user_id %>
  </p>

  <p>
    <strong>To user:</strong>
    <%= transfer.to_user_id %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= transfer.memo %>
  </p>

</div>
