<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :txid, style: "display: block" %>
    <%= form.text_field :txid %>
  </div>

  <div>
    <%= form.label :token_id, style: "display: block" %>
    <%= form.text_field :token_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.select :transaction_type, Transaction.transaction_types_i18n.invert %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :to_user_id, style: "display: block" %>
    <%= form.number_field :to_user_id %>
  </div>

  <div>
    <%= form.label :memo, style: "display: block" %>
    <%= form.text_area :memo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
