<div id="<%= dom_id transaction %>">
  <p>
    <strong>Txid:</strong>
    <%= transaction.txid %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= transaction.token_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= transaction.address %>
  </p>

  <p>
    <strong>From user:</strong>
    <%= transaction.from_user_id %>
  </p>

  <p>
    <strong>To user:</strong>
    <%= transaction.to_user_id %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= transaction.memo %>
  </p>

</div>
