<!DOCTYPE html>
<html>
  <head>
    <title>Tapyoka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5ffff;">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="<%= root_url %>">
            <img src="<%= asset_path('tapyoka-logo.png') %>" width="28" height="28" alt="Logo" loading="lazy" />
            Tapyoka
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link <%= active_if('home') %>" href="<%= home_url %>">ホーム</a>
            </li>
            <% if admin? %>
              <li class="nav-item">
                <a class="nav-link <%= active_if('wallets') %>" href="<%= wallets_url %>">ウォレット</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= active_if('tokens') %>" href="<%= tokens_url %>">トークン</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= active_if('timestamps') %>" href="<%= timestamps_url %>">タイムスタンプ</a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link <%= active_if('users') %>" href="<%= users_url %>">ユーザー</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= active_if('transactions') %>" href="<%= transactions_url %>">履歴</a>
            </li>
            <% if admin? %>
              <li class="nav-item">
                <a class="nav-link" href="<%= admin_root_url %>">管理</a>
              </li>
            <% end %>
            </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <div class="form-check form-switch w-auto ms-auto">
            <label class="form-check-label" for="adminSwitch">管理者モード</label>
            <input class="form-check-input" type="checkbox" role="switch" id="adminSwitch" onClick="location.href='<%= change_admin_url %>'" <%= 'checked' if admin? %> >
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <% flash.each do |key, message| %>
      <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <% if message.is_a?(Array) %>
          <ul>
            <% message.each do |m| %>
            <li><%= m %></li>
            <% end %>
          </ul>
        <% else %>
          <%= message %>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <main style="margin-top: 0px">
      <div class="container pt-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
